/* App.css */
.navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__logo img {
  width: 180px;
  position: relative;
  top: 10px;
  left: 20px;
}
.navbar__links {
  top: 5px;
  position: relative;
  right: 100px;
  display: flex;
  align-items: center;
}
.navbar__links ul {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar__links li {
  margin-left: 60px;
}
.deco {
  position:relative;
  right: 70px;
  top: 0px;
  background-color: transparent;
  border-radius: 20px;
  padding: 0;
  height: 35px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  transition: all 0.3s;
  color: rgb(255, 255, 255);
  font-size: 13px;
 background-color: #9b9b9b;
}
.deco:focus{
  outline: none;
}
.deco:hover{
  border: none;
  background-color: #7c7c7c;
}
.deco p{
  white-space: nowrap;
  position: relative;
  bottom: 2.5px;
}

.navbar__links a {
  color: rgb(0, 0, 74);
  text-decoration: none;
  font-size: 17px;
  position: relative;
  bottom: 3px;
}

.navbar__toggle {
  display: none;
}

@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }
  .navbar__links.open {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    background-color: #282c34;
    padding: 20px;
  }
  .navbar__toggle {
    display: block;
    cursor: pointer;
    color: white;
  }
}
