.navbargestion {
  display: flex;
  position: absolute;
  top: 70px;
  left: 0;
  padding: 10px;
}
.navbargestion ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbargestion ul li button {
  border: 1px solid rgb(23, 0, 83);
  background-color: transparent;
  color: rgb(23, 0, 83);
  width: 100px;
  height: 30px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
  font-size: 13.5px;
}
